@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.aboutMeSection {
    height: 100%;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #02062c;
}

.aboutMeSection .profileImg{
    position: relative;
    padding: 50px 0px 50px 40px;
    height: auto;
    max-width: 30%;
}


.aboutMeSection .header{
    text-align: left !important;
    font-size: 3em;
}

.aboutMeContent {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    text-align: justify;
    padding-right: 80px;
    padding-left: 30px;
    font-size: 1.2em;
    color: #fff;
    transition: .5s;
}

@media screen and (max-width: 1200px) {

    .aboutMeSection {
        flex-direction: column;     
        height: auto;
        padding: 100px 0;
        width: 100vw;
    }

    .aboutMeSection .profileImg {
        display: none;
    }

    .aboutMeContent{
        padding: 0;
    }

    .aboutMeSection .aboutMeContent .header {
        padding-left: 40px;
        font-size: 2.5em;
    }

    .aboutMeSection .aboutMeContent p{
        font-size: 1.2em;
        padding: 0 40px
    }
    
}

@media screen and (max-width: 500px) {

    .aboutMeSection .aboutMeContent p{
        font-size: 0.8em;

    }

}