@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.aboutMeSection {
    height: 100%;
    width: 100vw;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #040941;
}

.imgLeft{
    position: relative;
    padding: 50px 0px 50px 40px;
    height: auto;
    max-width: 30%;
}


.aboutMeSection .header{
    text-align: left !important;
    font-size: 40px;
}

.aboutMeContent {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    text-align: justify;
    padding-right: 80px;
    padding-left: 30px;
    font-size: 24px;
    color: #fff;
    transition: .5s;
}

@media screen and (max-width: 1200px) {

    .aboutMeSection {
        flex-direction: column;

        /* justify-content: flex-start; */
     
        height: auto;
        padding: 100px 0;
        width: 100vw;
    }

    .aboutMeSection .imgLeft {
        display: none;
    }

    .aboutMeContent{
        padding: 0;
    }

    .aboutMeSection .aboutMeContent .header {
        padding-left: 40px;
        font-size: 30px;
    }

    .aboutMeSection .aboutMeContent p{
        font-size: 18px;
        padding: 0 40px
    }
    
}