@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    background-color: #000325;

}

.section {
    height: 100vh;
    width: 100vw;
    top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #000325;
}


.content {
    position: relative;
    padding-left: 100px;
    width: 50%;
    z-index: 10;
}

.content h3 {
    font-size: 2em;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}

.content h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
}

.content h2 span {
    color: #00E6EA;
}

.content p {
    font-size: 1em;
    text-align: justify;
    color: #fff;
    margin-top: 20px;
    transition: 0.5s
}

.soicalIcon {
    display: flex;
    align-items: center;
    margin-top: 20px;
    transition: 0.5s ease-in-out;

}

.soicalIcon .sIcon {
    color: #00E6EA;
    font-size: 30px;
    margin-right: 40px;
}


/* .content button {
    position: relative;
    background: #00E6EA;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 35px;
    font-size: 1.25em;
    margin-top: 20px;
    letter-spacing: 0.05em;
    margin-right: 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
} */


.men {
    position: relative;
    right: 0%;
    bottom: 0%;
    max-width: 100%;
    max-height: auto;
    animation: animateMen 5s ease-in-out infinite;
}


@keyframes animateMen {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-50px);
    }
}


@media screen and (min-height: 1000px ) {

    .content p{
        font-size: 28px;
    }

    .content h3{ 
        font-size: 50px;
    }

    .content h2{
        font-size: 80px;
        padding: 0;
    }

    .soicalIcon .sIcon {
        font-size: 40px;
    }
    
}

@media screen and (min-height: 1000px ) and (max-width: 1500px) {

    .content p{
        font-size: 14px;
    }

    .content h3{ 
        font-size: 30px;
    }

    .content h2{
        font-size: 50px;
        padding: 0;
    }

    .soicalIcon .sIcon {
        color: #00E6EA;
        font-size: 20px;
        margin-right: 40px;
    }
    
}

@media screen and (max-width: 1200px) {

    .section {
        flex-direction: column; /* Change flex-direction to column */
        justify-content: flex-start; /* Align items to the top */
        height: auto;
      }
    
      .content {
        position: relative;
        margin-top: 10%;
        align-self: flex-start; /* Align content to the top */
        padding-left: 50px; /* Adjust padding as needed */
        width: 90%; /* Take up the full width */
      }
    
      .men {
        position: relative;
        top: 15%;
        max-width: auto;
        max-height: auto;
        margin-top: 50px; /* Add margin to separate from .content */
      } 
}

@media screen and (max-width: 700px) {

    .section {
        flex-direction: column; /* Change flex-direction to column */
        justify-content: flex-start; /* Align items to the top */
        height: auto;
      }
    
      .content {
        position: relative;
        top: 20%;
        align-self: flex-start; /* Align content to the top */
        padding-left: 20px; /* Adjust padding as needed */
        width: 90%; /* Take up the full width */
      }
    
      .men {
        position: relative;
        top: 10%;
        max-width: auto;
        max-height: auto;
        margin-top: 50px; /* Add margin to separate from .content */
      } 
}

@media screen and (max-width: 500px) {

    .content{
        margin-top: 20%;
    }

    .content p{
        font-size: 12px;
    }

    .content h3{ 
        font-size: 20px;
    }

    .content h2{
        font-size: 28px;
        padding: 0;
    }

    .soicalIcon {
        display: none;
    }

    
}




