@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.myProjectSection {
  padding: 50px 0 200px 0;
  top: 0;
  left: 0;
  height: auto;
  width:  100vw;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  background-color: #000325;
}

.myProjectSection .projectHeader {
  position: relative;
  top: 0;
  left: 0; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  font-size: 3rem;
  color: #fff;
}

.projectContainer {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  align-items: center;
  z-index: 0;
  gap: 100px 50px;
  padding: 50px 50px;
}

.wrapper,
.single-card {
  height: 300px;
  width: 450px;
  margin: auto;
  position: relative;
}

.wrapper {
  perspective: 900px;
}

.single-card {
  text-align: center;
  transition: all 1.5s cubic-bezier(0.7, -.5, 0.3, 1.8);
  transform-style: preserve-3d;
}

.wrapper:hover .single-card {
  transform: rotateY(180deg);
}

.projImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: -1;
}

.back {
  z-index: 50;
}

.front,
.back {
  width: 450px;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.front {
  cursor: pointer;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  position: absolute;
  border-radius: 10px;
  height: 100%;
}



.back .projContent{
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

.back .projContent h2{
  font-size: 20px;
}

.back .projContent h4 {
  font-size: 14px;
  font-weight: 600;
}

.back .projContent p {
  text-align: justify;
  font-size: 18px;
  padding: 0 20px;
}

.back .projContent a {
  position: relative;
  text-decoration: none;
  border-radius: 20px;
  background-color: #000325;
  color: white;
  padding: 10px 20px;
  top: 5px;

}


@media screen and (max-width: 650px) {

  .myProjectSection .projectHeader {
    font-size: 2.5rem;
  }

  .projectContainer {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  }

  .wrapper,
.single-card{
  width: 300px;
  height: 200px;
}

.front, .back{
  width: 300px;
}

  .back .projContent p {
    display: none;
  }
  
}

@media screen and (max-width: 310px) {

  .projectContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  }

  .wrapper,
.single-card{
  width: 250px;
  height: 150px;
}

.front, .back{
  width: 250px;
}

.back .projContent h4 {
  display: none;
}

  .back .projContent p {
    display: none;
  }
  
}

